$primaryColor1: #FDFFFC;
$primaryColor: #330C2F;
$secondaryColor: #E5ECE9;
$shadeColor: #f3f4fa;
$sweetRed: #FF0022;
$darkPurple: #36213E;

*{
    font-size: 16px;
    font-family: poppins;
    padding: 0;
    margin: 0;
}

